.header {
  box-shadow: none;
  position: absolute;
  background: transparent;
}

.header-on-home {
  margin-bottom: 443px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px #0000000D;
  position: relative;
}

.preview {
  padding-top: 202px;
  background-image: url("../img/preview-background.jpg");
  background-size: 100% 100%;
  min-height: 900px;
  position: relative;
}

.preview__title {
  font-weight: 700;
  font-size: 44px;
  color: #313131;
  max-width: 721px;
  margin-bottom: 25px;
  margin-left: 34px;
}

.preview__title-blue {
  color: #52BFFF;
}

.preview__subtitle {
  font-size: 18px;
  color: #7a7a7a;
  max-width: 677px;
  margin-bottom: 50px;
  position: relative;
  margin-left: 34px;
}

.preview__btn {
  margin-left: 34px;
}

.preview__subtitle::before {
  content: url("../img/circl-arr.svg");
  position: absolute;
  left: -55px;
  bottom: -80px;
}

.preview__contacts {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  position: absolute;
  bottom: 30px;
  margin-left: 34px;
}

.preview__location {
  color: #7A7A7A;
  font-size: 15px;
  padding-left: 26px;
  position: relative;
}

.preview__location::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/map-location-blue.svg");
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}

.preview__location-strong {
  color: #313131;
  font-weight: 700;
}

.preview__work {
  position: relative;
  color: #313131;
  padding-left: 26px;
  font-size: 15px;
  font-weight: 700;
}

.preview__work::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/clock-blue.svg");
  background-size: 100%;
  position: absolute;
  left: 0;
}

.home-other {
  background-image: url(../img/home-other-background.jpg);
  background-size: 100% 100%;
  padding-top: 97px;
}

.why {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  position: relative;
  overflow: visible;
}

.why::before {
  content: url("../img/why-tree.png");
  position: absolute;
  left: 0;
  top: -230px;
}

.why__subtitle {
  max-width: 437px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #7A7A7A;
  margin-bottom: 5px;
}

.why__subtitle-strong {
  font-weight: 500;
}

.why__title {
  color: #52BFFF;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 105px;
}

.why__card-containre {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}

.why__card {
  background: #fff;
  box-shadow: 0px 0px 25px 0px #0000000D;
  position: relative;
  border-radius: 20px;
  padding: 72px 48px 30px;
  max-width: 366px;
}

.why__card-img {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.why__card-discription {
  font-size: 18px;
  color: #7A7A7A;
  text-align: center;
}

.why__card-discription-strong {
  font-weight: 500;
}

.universities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.universities__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.universities__header-text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 423px;
}

.universities__title {
  text-align: center;
  color: #52BFFF;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
}

.universities__subtitle {
  color: #7A7A7A;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.universities__subtitle-strong {
  font-weight: 500;
}

.universities__link {
  padding: 15px 38px 0 0;
  font-size: 18px;
  color: #7A7A7A;
  position: relative;
}

.universities__link::before {
  content: url("../img/blue-arr.svg");
  position: absolute;
  right: 0;
  transform: rotate(180deg);
}

.universities__card-container {
  position: relative;
  display: flex;
  gap: 20px;
  width: 100%;
  padding-left: 18px;
}

.universities__card-img {
  width: 246px;
}

#left-universities-button {
  transform: translate(85%, -50%) rotate(180deg);
  position: absolute;
  right: 100%;
  top: 40%;
}

.universities__card {
  padding: 12px 12px 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 0px #0000000D;
}

.universities__card-description {
  display: flex;
  justify-content: space-between;
}

.universities__card-city {
  font-size: 18px;
  color: #7A7A7A;
}

.universities__card-num {
  color: #D9D9D9;
}

#rigth-universities-button {
  position: absolute;
  left: 100%;
  top: 40%;
  transform: translate(-85%, -50%);
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/review-background.png");
  background-size: 100% 100%;
  padding-top: 150px;
  padding-bottom: 187px;
  position: relative;
}

.reviews::before {
  content: "";
  background-image: url("../img/clouds.png");
  background-size: 100% 100%;
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 0;
  transform: translateY(-65%);
  width: 150%;
  height: 400px;
}

.reviews::after {
  content: url("../img/home-review-tree.png");
  position: absolute;
  right: 0;
  bottom: -105px;
}

.reviews__title {
  color: #52BFFF;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 146px;
  text-align: center;
}

.reviews__card-container {
  display: flex;
  gap: 20px;
  position: relative;
  width: 100%;
}

.reviews__card {
  padding: 121px 27px 20px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px #0000000D;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.reviews__card::before {
  content: "";
  display: inline-block;
  height: calc(100% - 24px);
  width: calc(100% - 24px);
  position: absolute;
  top: 12px;
  left: 12px;
  border: 2px dashed #ECF6FC;
  border-radius: 20px;
}

.reviews__card-img-container {
  position: absolute;
  padding: 22px 34px 0 33px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 212px;
  height: 212px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__card-img {
  position: absolute;
  bottom: 0;
  left: 27px;
}

.reviews__card:nth-child(even) .reviews__card-img-container {
  background: #E52732;
}

.reviews__card:nth-child(odd) .reviews__card-img-container {
  background: linear-gradient(213.88deg, #B1E2FF -67.78%, #68C7FF 175.48%);
}

.reviews__card-description {
  width: 313px;
}

.reviews__card-name {
  color: #7a7a7a;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

.reviews__card-review {
  color: #7A7A7A;
}

.home__examples {
  background-image: url(../img/home-other-background.jpg);
  background-size: 100% 100%;
  padding-top: 120px;
  position: relative;
}

.home__examples::after {
  content: "";
  background-image: url("../img/contacts-cloud.png");
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: -150px;
}

.students {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.students__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 40px;
}

.students__title {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #52BFFF;
  font-weight: 700;
  font-size: 36px;
}

.students__link {
  color: #7A7A7A;
  font-size: 18px;
  padding-right: 38px;
  position: relative;
  bottom: 5px;
}

.students__link::before {
  content: url("../img/blue-arr.svg");
  position: absolute;
  right: 0;
  transform: rotate(180deg);
}

.students__card-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.students__card-img {
  border-radius: 20px;
}

.answer {
  padding-top: 120px;
  padding-bottom: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.answer::before {
  content: url("../img/cube.png");
  position: absolute;
  top: 0;
  left: 0;
}

.answer__title {
  color: #52BFFF;
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 40px;
  text-align: center;
}

.answer__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  justify-content: space-between;
  align-items: start;
}

.answer__card {
  max-width: 536px;
  background: #fff;
  border-radius: 20px;
  padding: 27px 39px 27px 27px;
  position: relative;
  z-index: 1;
  margin-right: 24px;
}

.answer__card::before {
  content: "";
  display: inline-block;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  border-radius: 20px;
  border: 2px dashed #ECF6FC;
  position: absolute;
  top: 12px;
  left: 12px;
}

.answer__card-title {
  color: #7A7A7A;
  font-size: 18px;
  font-weight: 500;
}

.answer__card-description {
  color: #7A7A7A;
  max-height: 0;
  overflow: hidden;
}

.answer__btn-more {
  position: absolute;
  top: 29px;
  left: 100%;
  transform: translateX(-50%);
}

.answer__card-description-all {
  max-height: 100%;
  padding-top: 4px;
}

@media (max-width: 1171px) {
  .students__link {
    padding-right: 20px;
  }

  .answer__card {
    max-width: 475px;
  }
}

@media (max-width: 1030px) {
  .preview {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: right -100px;
  }

  .preview__title {
    margin-left: 0;
  }

  .preview__subtitle {
    margin-left: 0;
  }

  .preview__subtitle::before {
    content: "";
  }

  .preview__btn {
    margin-left: 0;
  }

  .preview__contacts {
    display: none;
  }

  .students__title {
    max-width: 373px;
    text-align: center;
  }

  .answer__card {
    max-width: 388px;
  }
}

@media (max-width: 850px) {
  .home-other {
    background-size: auto 100%;
  }

  .why__card-containre {
    flex-direction: column;
    align-items: center;
    gap: 75px;
  }

  .reviews {
    background-size: auto 100%;
  }

  .answer__card {
    max-width: 311px;
  }
}

@media (max-width: 736px) {
  .why::before {
    content: "";
  }

  .universities__link {
    display: none;
  }

  .home__examples {
    background-size: auto 100%;
  }

  .students__link {
    display: none;
  }

  .answer::before {
    content: "";
  }

  .answer__card {
    max-width: 100%;
  }
}

@media (max-width: 440px) {
  .preview {
    min-height: auto;
  }

  .preview__title {
    font-size: 18px;
  }

  .preview__subtitle {
    font-size: 12px;
  }

  .preview__btn {
    font-size: 14px;
    width: 100%;
    margin-bottom: 170px;
  }

  .why {
    margin-bottom: 100px;
  }

  .why__subtitle {
    font-size: 12px;
  }

  .why__title {
    font-size: 18px;
  }

  .why__card-img {
    width: 122.62px;
  }

  .why__card-discription {
    font-size: 12px;
  }

  .universities__title {
    font-size: 18px;
  }

  .universities__subtitle {
    font-size: 12px;
  }

  #left-universities-button, #rigth-universities-button {
    display: none;
  }

  .universities__card {
    padding-bottom: 10px;
  }

  .universities__card-city {
    font-size: 14px;
    font-weight: 500;
  }

  .universities__card-num {
    font-size: 12px;
  }

  .reviews::after {
    content: "";
    display: inline-block;
    background-image: url(../img/home-review-tree.png);
    height: 275px;
    width: 206px;
    background-size: 100%;
    bottom: 0;
  }

  .reviews__title {
    font-size: 24px;
  }
  
  .reviews__card {
    padding-top: 59px;
  }

  .reviews__card-img-container {
    width: 96px;
    height: 96px;
  }

  .reviews__card-img {
    width: 100%;
    left: 7px;
  }

  .reviews__card-description {
    width: 229px;
  }

  .reviews__card-name {
    font-size: 14px;
  }

  .reviews__card-review {
    font-size: 10px;
  }

  .students__title {
    font-size: 24px;
  }

  .answer__title {
    font-size: 24px;
  }

  .answer__card-title {
    font-size: 12px;
  }

  .answer__card-description {
    font-size: 10px;
  }
}