.students {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #fff;
  padding-bottom: 228px;
}

.students__title {
  font-weight: 700;
  font-size: 36px;
  color: #52BFFF;
  margin-bottom: 10px;
}

.students__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 710px;
  overflow: hidden;
}

.students__card {
  box-shadow: 0 0 25px 0 #0000000D;
  border-radius: 20px;
  width: max-content;
  display: flex;
  padding: 12px 20px 12px 12px;
  gap: 20px;
}

.students__img-background {
  padding: 11px 40px 0 57px;
  background: #52BFFF;
  border-radius: 20px;
  position: relative;
  height: 191px;
}

.students__img-background::before {
  content: url("../img/btn-arrow-grey.svg");
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.students__img-background::after {
  content: url("../img/arrow-arrow.svg");
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.students__img {
  position: relative;
  top: 4px;
}

.students__text {
  max-width: 552px;
}

.students__inf {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.students__name {
  font-size: 18px;
  font-weight: 500;
  color: #7A7A7A;
}

.students__university {
  font-size: 12px;
  color: #7A7A7A;
  position: relative;
  padding-left: 26px;
}

.students__university::before {
  content: url("../img/hat-marker.svg");
  position: absolute;
  left: 0;
  top: 1px;
}

.students__description {
  line-height: 22px;
  color: #7A7A7A;
}

@media (max-width: 850px) {
  .students__container {
    align-items: center;
    max-height: 850px;
  }

  .students__card {
    width: calc(100% - 15px);
    flex-direction: column;
    padding-bottom: 29px;
    position: relative;
  }

  .students__img {
    left: 50%;
    transform: translate(-50%);
  }

  .students__university {
    position: absolute;
    bottom: 9px;
  }
}

@media (max-width: 736px) {
  .students__container {
    max-height: 910px;
  }
}

@media (max-width: 520px) {
  .students__container {
    max-height: 985px;
  }
}

@media (max-width: 440px) {
  .students__title {
    font-size: 24px;
  }

  .students__container {
    max-height: 1250px;
  }

  .students__name {
    font-size: 14px;
  }

  .students__university {
    font-size: 10px;
  }

  .students__description {
    font-size: 10px;
    line-height: 1.4;
  }
}

.students__container-all {
  max-height: 100%;
}

.button-icon-all {
  transform: rotate(180deg);
}