.universities {
	display: grid;
	grid-template-columns: 270px 1fr;
}

.universities__title {
	grid-column: 1 / 3;
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	color: #52BFFF;
	padding-bottom: 40.5px;
	border-bottom: 1px solid #E2EDF380
}